<p id="notice"><%= notice %></p>

<h1><%= @provider.name %></h1>
<p>
<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', root_path %>
</p>

<p> <strong>URL new Pixel:</strong> <%= root_url %>pixel </p>
<p> <strong>Method:</strong> POST </p>
<p> <strong>Json:</strong> {"pixel": { "name": new_name, "provider_id": <%= @provider.id %>}} </p>

<br/>


<%= render 'pixels/index', pixels: @pixels %>